.img{
  width: 90%;
  height: 100%;
  text-align: center;
}
#result{
  float: right;
}
h3{
  margin: 37px;
  font-family: 'Merriweather', serif;
  color: darkblue;
  font-weight: bold;
}
Form.Control{
  width: 95%;
}